
RuleOfFive/.vs/RuleOfFive/v15/Browse.VC.db
RuleOfFive/.vs/RuleOfFive/v15/Browse.VC.opendb
RuleOfFive/.vs/RuleOfFive/v15/ipch/7638958ba7497e65.ipch
RuleOfFive/.vs/RuleOfFive/v15/Solution.VC.db
RuleOfFive/.vs/RuleOfFive/v15/Solution.VC.db-shm
RuleOfFive/.vs/RuleOfFive/v15/Solution.VC.db-wal
